<h1 class="text-center mr-5 pr-5">Welcome to our application</h1>

<div class="row">
<div class="col-lg-6 ml-3">
  <h4 class="pl-5">
    {{"Books are the plain, and the train, and the road." }}<br>{{"They are the destination, and the journey. "}}
    <br>{{"They are home" }}
  </h4>
</div>

<div class="col-lg-5 text-right  pr-4">
  <h4>
    {{"Books are the plain, and the train, and the road." }}<br>{{"They are the destination, and the journey. "}}
    <br>{{"They are home" }}
  </h4>
</div>
</div>
