<h1>Requests for whole book submission</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Task name</th>
        <th scope="col">Task assignee</th>
        <th scope="col">Creation date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks" >
        <td>{{task.name}} </td>
        <td>{{task.assignee}} </td>
        <td>{{task.dateTime}} </td>
        <td><button class="btn btn-info" (click)="showSubmissionForm(task.taskId)">Submisson form</button></td>
      </tr>
    </tbody>
  
  
  </table>
  
