<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate >

    <div *ngFor="let field of formFields">
      <label class="col-lg-4 offset-4 mt-3 p-0">{{field.label}}</label>
      <input type="text" class="form-control col-lg-4 offset-lg-4" name={{field.id}} id={{field.id}} ngModel minLength={{field.properties.minlength}}  *ngIf="field.type.name=='string'" >
      <input type="checkbox" class="form-control col-lg-4 offset-lg-4" name={{field.id}} ngModel *ngIf="field.type.name=='boolean'">
      <input type="number"  class="col-lg-4 offset-lg-4" name={{field.id}} ngModel  *ngIf="field.type.name=='long'">
      <select name="field.id" class="form-control col-lg-4 offset-lg-4" *ngIf="field.type.name=='enum'" ngModel>
        <option *ngFor="let val of enumValues" value={{val}}>
          {{field.type.values[val]}}
        </option>
      </select>
    </div>


    <input type="submit" class="btn btn-primary">
  </form>
</div>
