<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate >

    <div *ngFor="let field of formFields">
      <label class="mt-4 col-lg-4 offset-lg-4 p-0 ">{{field.label}}</label>
      <input type="text" class="form-control col-lg-4 offset-lg-4" name={{field.id}} ngModel  *ngIf="field.type.name=='string' && field.id!='email' && field.id!='password'" >
      <input type="checkbox" class="col-lg-4 offset-lg-4" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'">
      <input type="number" class="col-lg-4 offset-lg-4" name={{field.id}} ngModel  *ngIf="field.type.name=='long'">
      <mat-select multiple class="form-control col-lg-4 offset-lg-4" name={{field.id}} ngModel *ngIf="field.type.name=='multiSelect'">
        <mat-option class="p-0 col-lg-4 offset-lg-4" *ngFor="let val of enumValues" value={{val}}>
          {{field.type.values[val]}}
        </mat-option>
      </mat-select>
      <input type="email" class="form-control col-lg-4 offset-lg-4" name={{field.id}} ngModel  *ngIf="field.type.name=='string' && field.id=='email'" >
      <input type="password" class="form-control col-lg-4 offset-lg-4" name={{field.id}} ngModel  *ngIf="field.type.name=='string' && field.id=='password'" >

      <select class="form-control col-lg-4 offset-lg-4" name={{field.id}} *ngIf="field.type.name=='enum'"  ngModel>
        <option *ngFor="let val of enumValues" value={{val}}>
          {{field.type.values[val]}}
        </option>
      </select>

      <input type="file" name={{field.id}} *ngIf="field.type.name=='file'"
             multiple (change)="selectFiles($event)"/>
    </div>


    <input type="submit" class="btn btn-primary">
  </form>
</div>
