<div class="bg">
  <br><br>
<form [formGroup]="angForm" #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" class="white col-lg-4 offset-lg-4">
  <br>
  <div *ngFor="let field of formFields">
    <label class="mt-4">{{field.label}}</label>
    <input type="text" class="form-control" formControlName={{field.id}} *ngIf="field.type.name=='string' && field.id!='email' && field.id!='password'">

    <input type="checkbox"class="mt-3 ml-3" name={{field.id}} formControlName={{field.id}}
           *ngIf="field.type.name=='boolean'">
    <input type="number" class="form-control" name={{field.id}} formControlName={{field.id}}
           *ngIf="field.type.name=='long'">

    <input type="email" class="form-control " name={{field.id}}  formControlName={{field.id}} *ngIf="field.type.name=='string' && field.id=='email'" >
    <input type="password" class="form-control " name={{field.id}} formControlName={{field.id}} *ngIf="field.type.name=='string' && field.id=='password'" >

    <mat-form-field appearance="fill" class="col-lg-12" *ngIf="field.type.name == 'multiSelect'">
      <mat-select multiple class="col-lg-12" formControlName={{field.id}}>
        <mat-option class="mt-0 pt-0" *ngFor="let element of field.selectElements" value={{element.value}}>
          {{element.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <select name={{field.id}} *ngIf="field.type.name=='enum'" class="form-control" formControlName={{field.id}}>
      <option *ngFor="let val of field.selectElements" value={{val.value}}>
        {{val.viewValue}}
      </option>
    </select>

    <input type="file" name={{field.id}}  *ngIf="field.type.name=='file'"
           multiple (change)="selectFiles($event)"/>

    <div class="pt-1" *ngIf="angForm.controls[field.id].invalid && (angForm.controls[field.id].dirty || angForm.controls[field.id].touched)">
      <p class="text-danger" *ngIf="angForm.controls[field.id].errors.required">{{field.label}} is required.</p>
      <p class="text-danger" *ngIf="angForm.controls[field.id].errors.minlength">
        {{field.label}} field required minimum {{field.properties.minlength}} characters.
      </p>
      <p class="text-danger" *ngIf="angForm.controls[field.id].errors.maxlength">
        {{field.label}} field can not have more than {{field.properties.maxlength}} characters.
      </p>
    </div>
  </div>

  <div class="submit">
    <input type="submit" class="col-lg-2 offset-lg-10 btn btn-primary" value="Submit">
  </div>
  <br>
</form>
<br><br><br>
</div>
