<div class="navbar navbar-light bg-dark">
  <div class="navbar-buttons">
    <button class="navbar-brand" *ngIf="unauthorized" (click)="startWriterRegistrationProcess()">Register as Writer</button>
    <button class="navbar-brand" *ngIf="unauthorized" (click)="startReaderRegistrationProcess()">Register as Reader</button>
    <button class="navbar-brand" *ngIf="unauthorized" routerLink="/login">Login</button>
    <button class="navbar-brand" *ngIf = "boardMember"  (click)="getRequests()">Show requests</button>
    <button class="navbar-brand" *ngIf = "!unauthorized"  (click)="logout()">Logout</button>
    <button class="navbar-brand" *ngIf = "writer" (click)="startBookPublishingProcess()">Book publishing</button>
    <button class="navbar-brand" *ngIf = "writer" (click)="showRequestsForWholeBook()">Requests for whole book</button>
    <button class="navbar-brand" *ngIf = "editor" (click)="getSubmitedSynopses()">Show synopses</button>

  </div>
</div>
<router-outlet></router-outlet>
