<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Task name</th>
        <th scope="col">Task assignee</th>
        <th scope="col">Book title</th>
        <th scope="col">Book writer</th>
        <th scope="col">Creation date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks" >
        <td>{{task.name}} </td>
        <td>{{task.assignee}} </td>
        <td>{{task.variables.title}}</td>
        <td>{{task.variables.processWriter}}</td>
        <td>{{task.dateTime}} </td>
        <td><button class="btn btn-info" (click)="leaveComment(task.taskId)">Review</button></td>
      </tr>
    </tbody>
  
  
  </table>
