<table class="table table-hover col-lg-8 offset-lg-2 mt-5">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Assignee</th>
    <th scope="col">Book title</th>
    <th scope="col">Book writer</th>
    <th scope="col">Creation date</th>
    <th scope="col" class="text-right">Review</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of tasks">
    <td>{{task.name}} </td>
    <td>{{task.assignee}} </td>
    <td>{{task.variables.title}}</td>
    <td>{{task.variables.processWriter}}</td>
    <td>{{task.dateTime}} </td>
    <td class="text-right">
      <button class="btn btn-success" (click)="leaveComment(task.taskId)">Review</button>
    </td>
  </tr>
  </tbody>
</table>
